# gradle
.gradle/
.kotlin/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# debug
src/main/resources/data/test

# compiler (ignore)
src/main/kotlin/org/infinitempires/tmp.java
src/main/kotlin/org/infinitempires/test.groovy
